$color-principal: #b9ae43;
$color-fondo: #2e2130;
$sizeTitle: 70px;
$sizeTitleResponsive2: 50px;
$sizeTitleResponsive1: 60px;
$sizeTitleResponsive: 40px;
$redes: (item11, blue) (item12, rgba(19, 204, 218, 0.932)) (item13, rgb(233, 111, 41)) (item14, red);